@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
}
.top {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: black;
  box-shadow: 0px 10px 20px black;
  z-index: 999; 
}
.white {
  float: left;
  margin-left: 4px;
  height: 633px;
  width: 130px;
  box-shadow: inset 0px 0px 30px 20px white;
  cursor: pointer;
}
.black, .black2, .black3, .black4, .black5, .black6, .black7 {
  position: absolute;
  height: 400px;
  width: 65px;
  z-index: 99;
  margin-top: 0px;
  margin-left: -1235px;
  border: 1px solid black;
  box-shadow: inset 0px 0px 10px 5px gray;
  background: linear-gradient(to bottom, gray 0%, black 100%);
  cursor: pointer;
}
.black:active {
  background: linear-gradient(to bottom, black 0%, gray 100%);
}
.black2 {
  margin-left: -1103px;
}
.black2:active {
  background: linear-gradient(to bottom, black 0%, gray 100%);
}
.black3 {
 margin-left: -833px; 
}
.black3:active {
  background: linear-gradient(to bottom, black 0%, gray 100%);
}
.black4 {
 margin-left: -696px; 
}
.black4:active {
  background: linear-gradient(to bottom, black 0%, gray 100%);
}
.black5 {
 margin-left: -564px; 
}
.black5:active {
  background: linear-gradient(to bottom, black 0%, gray 100%);
}
.black6 {
 margin-left: -300px; 
}
.black6:active {
  background: linear-gradient(to bottom, black 0%, gray 100%);
}
.black7 {
 margin-left: -160px; 
}
.black7:active {
  background: linear-gradient(to bottom, black 0%, gray 100%);
}





